@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@200;300;400;500;600;700;800&display=swap');
* {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  box-sizing: border-box;
  font-family: 'Epilogue', sans-serif;
  color: #444955;
}

.head-content {
  display: flex;
  max-width: 100vw;
  height: 100vh;
}

.container label, textarea {
  display: flex;
  flex-direction: column;
}

form {
  width: 50%;
  padding: 12px;
  background: rgb(238, 233, 233);
  padding: 6px 36px;
}

form h1 {
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 24px;
}

.container {
  margin-bottom: 19px;
}

label {
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
}

.Card {
  width: 50%;
  background: #023031;
}

input, textarea, select {
  border-style: none;
  width: 80%;
  height: 34px;
  border-bottom: 1px solid #717785;
  border-radius: 2px 2px 0 0;
  padding: 12px;
  outline: none;
  background: #fff;
}

textarea {
  resize: none;
  height: 50px;
}

.atributes {
  display: flex;
  flex-direction: column;
}

#div-image {
  display: flex;
  align-items: stretch;
}

#div-image input {
  width: calc(80% - 30px);
}

#insertLink {
  width: 30px;
  background: #023031;
  border-radius: 4px 0 0 4px;
}

#trunfo-input {
  width: 30px;
}

#save-button {
  position: absolute;
  left: 407px;
  top: 580px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 40px;
  color: #fff;
  background: royalblue;
  border: none;
  border-radius: 4px;
}

#save-button:hover {
  cursor: pointer;
  background: rgba(65, 105, 225, 0.9);
}

#save-button:active {
  background: rgba(65, 105, 225, 0.85);
}

#rare-input {
  height: fit-content;
}