@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@200;300;400;500;600;700;800&display=swap');
* {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  box-sizing: border-box;
  font-family: 'Epilogue', sans-serif;
  color: #444955;
}

.head-content {
  display: flex;
  max-width: 1200px;
  margin: auto;
}

.container label, textarea {
  display: flex;
  flex-direction: column;
}

form {
  width: 50%;
  padding: 12px;
  background: #FAFAFA;
  padding: 111px 75px;
  margin-top: 11px;
}

form h1 {
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 29px;
  margin-bottom: 75px;
}

.container {
  margin-bottom: 19px;
}

label {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}

.container text {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}

.Card {
  width: 50%;
  background: #023031;
}

input, textarea, select {
  border-style: none;
  width: 355px;
  height: 37px;
  border-bottom: 1px solid #717785;
  border-radius: 2px 2px 0 0;
  padding: 8px;
  outline: none;
  background: #fff;
}

textarea {
  resize: none;
  height: 80px;
}

.atributes {
  display: flex;
  flex-direction: column;
}

#div-image {
  display: flex;
  align-items: stretch;
}

#div-image input {
  width: calc(355px - 36px);
}

#insertLink {
  width: 36px;
  background: #023031;
  border-radius: 4px 0 0 4px;
}
