@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@200;300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  box-sizing: border-box;
  font-family: 'Epilogue', sans-serif;
  color: #444955;
}

.head-content {
  position: relative;
  display: flex;
  max-width: 100vw;
  max-height: 100vh;
}

.container label, textarea {
  display: flex;
  flex-direction: column;
}

form {
  width: 50%;
  height: 100%;
  padding: 12px;
  background: rgb(238, 233, 233);
  padding: 6px 36px;
  position: relative;
}

form h1 {
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 24px;
}

.container {
  margin-bottom: 8px;
  height: 65px;
}

label {
  font-weight: 700;
  font-size: 12px;
  line-height: 120%;
}

.preview-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  background: #023031;
}

.Card {
  display: flex;
  position: relative;
  flex-direction: column;
  background: #036B52;
  border-radius: 10px;
  border: 10px solid #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
  padding: 10px;
  width: 300px;
  height: 450px;
  transform: scale(0.9);
}

.Card:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.Card-title {
  border-radius: 10px;
  background: #023031;
  border-radius: 10px 10px 0px 0px;
}

.Card-title-text {
  width: auto;
  height: 40px;
  border-radius: 10px 10px 0 0;
  background: #023031;
}

#image {
  display: flex;
  justify-content: center;
  height: 150px;
  width: 100%;
  background: #fff;
  padding: 4px;
  opacity: 1;
}

#image-card {
  width: auto;
  max-width: auto;
  max-height: 200px
}

.Card-title h3 {
  color: white;
  text-align: end;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  padding: 10px;
}

#description {
  display: flex;
  width: 100%;
  min-height: 45px;
  background-color:#023031;
  align-items: center;
  padding: 18px;
  border-radius: 0 0 8px 8px;
  margin-bottom: 8px;
}

.Card-atributes {
  background-color: white;
  padding: 12px;
  border-radius: 2px;
  margin-bottom: 20px;
}

.atribute {
  display: flex;
  justify-content: space-around;
  margin: 8px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
}

.atribute_value {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#023031;
  width: 45px;
  height: 28px;
  border-radius: 0 12px 12px 0;
}

.atribute span {
  color: #3D495C;
}

.atribute_value span {
  color: #fff;
}

.Card p {
  font-style: italic;
  text-align: justify;
  font-weight: 300;
  font-size: 10px;
  line-height: 13px;
  color: white;
}

input, textarea, select {
  border-style: none;
  width: 80%;
  height: 34px;
  border-bottom: 1px solid #717785;
  border-radius: 2px 2px 0 0;
  padding: 12px;
  outline: none;
  background: #fff;
}

textarea {
  resize: none;
  height: 50px;
}

.atributes {
  display: flex;
  flex-direction: column;
}

#div-image {
  display: flex;
  align-items: stretch;
}

#div-image input {
  width: calc(80% - 30px);
}

#insertLink {
  width: 30px;
  background: #023031;
  border-radius: 4px 0 0 4px;
}

#trunfo-input {
  width: 30px;
}

#save-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 40px;
  color: #fff;
  background: royalblue;
  border: none;
  border-radius: 4px;
}

#save-button:disabled {
  opacity: 0.3;
}

#save-button:hover {
  cursor: pointer;
  background: rgba(65, 105, 225, 0.9);
}

#save-button:active {
  background: rgba(65, 105, 225, 0.85);
}

#rare-input {
  height: fit-content;
}

#image-card {
  width: 100%;
  object-fit: cover;
}

.main-content {
  display: flex;
  padding: 30px;
  background: rgb(238, 233, 233);
  border: 1px solid rgba(133, 133, 133, 0.1);
  margin: 8px;
  min-height: 98vh;
}

.filters-content {
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 30%;
  gap: 20px;
  padding: 15px;
}

.filters-content h2 {
  margin-bottom: 40px;
}

#name-filter, #rare-filter {
  padding: 0px;
  padding-left: 12px;
}

#name-filter:disabled, #rare-filter:disabled {
  opacity: 0.7;
}

.deck_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.deck_card > button {
  padding: 8px 30px;
}

#trunfo-filter {
  width: 20px;
  height: 15px;
}

#rare-card-span {
  align-self: center;
  color: #023031;
  font-weight: 700;
  font-size: 20px;
  padding: 4px 12px 0 12px;
  background-color: white;
  border-radius: 8px;
  max-width: 60%;
}

#trunfo-card-img {
  position: fixed;
  width: 90px;
  left: 180px;
  top: 10px;
  transform: rotate(-9deg);
}

.allCards {
  display: flex;
  flex-wrap: wrap;
}

legend {
  font-style: italic;
  font-size: 12px;
  margin-top: 2px;
  text-align: center;
}

#has_trunfo {
  height: 73px;
  display: flex;
  align-items: center;
}